version: 2.1

parameters:
  kre-image-tag:
    type: string
    default: "latest"
  agent-download-link:
    type: string
    default: ""
  job-info:
    type: string
    default: ""
  agent-config:
    type: string
    default: ""
  server-url:
    type: string
    default: ""
  TESTOPS_API_KEY:
    type: string
    default: ""
  TESTOPS_SERVER_URL:
    type: string
    default: ""
  TESTOPS_PROJECT_ID:
    type: string
    default: ""
  TESTOPS_SESSION_ID:
    type: string
    default: ""

jobs:
  katalon-circleci:
    docker:
      - image: katalonstudio/katalon:<< pipeline.parameters.kre-image-tag >>
    environment:
      AGENT_DOWNLOAD_LINK: << pipeline.parameters.agent-download-link >>
      JOB_INFO: << pipeline.parameters.job-info >>
      SERVER_URL: << pipeline.parameters.server-url >>
    steps:
      - checkout
      - run: ls -a
      - run: ls -l
      - run: docker --version
      - run: apt-get install docker.io
      - run: bash run_chrome.sh
workflows:
  version: 2.1
  build_and_test:
    jobs:
      - katalon-circleci