version: 2.1

parameters:
  kre-image-tag:
    type: string
    default: "latest"
  agent-download-link:
    type: string
    default: ""
  job-info:
    type: string
    default: ""
  agent-config:
    type: string
    default: ""
  server-url:
    type: string
    default: ""
  TESTOPS_API_KEY:
    type: string
    default: ""
  TESTOPS_SERVER_URL:
    type: string
    default: ""
  TESTOPS_PROJECT_ID:
    type: string
    default: ""
  TESTOPS_SESSION_ID:
    type: string
    default: ""

jobs:
  katalon-circleci:
    docker:
      - image: katalonstudio/katalon:<< pipeline.parameters.kre-image-tag >>
    environment:
      AGENT_DOWNLOAD_LINK: << pipeline.parameters.agent-download-link >>
      JOB_INFO: << pipeline.parameters.job-info >>
      SERVER_URL: << pipeline.parameters.server-url >>
    steps:

      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: Install Docker Compose
          environment:
            COMPOSE_VERSION: '1.29.2'
          command: |
            curl -L "https://github.com/docker/compose/releases/download/${COMPOSE_VERSION}/docker-compose-$(uname -s)-$(uname -m)" -o ~/docker-compose
            chmod +x ~/docker-compose
            mv ~/docker-compose /usr/local/bin/docker-compose
      - checkout
      - run: ls -a
      - run: ls -l
      - run: docker-compose --version
      - run: docker-compose run -t --rm -v /home/intersoft-admin/Rattan/Katalon/newActivityOverview:/katalon/katalon/source katalonstudio/katalon katalon-execute.sh -browserType="Chrome" -retry=0 -statusDelay=15 -testSuitePath="Test Suites/ActivityOverview-FiltersAndColumns" -apiKey="22937998-3f24-4da4-aedb-4d9bae4a896d" -executionProfile="Development"
workflows:
  version: 2.1
  build_and_test:
    jobs:
      - katalon-circleci