version: 2.1

parameters:
  kre-image-tag:
    type: string
    default: "latest"
  agent-download-link:
    type: string
    default: ""
  job-info:
    type: string
    default: ""
  agent-config:
    type: string
    default: ""
  server-url:
    type: string
    default: ""
  TESTOPS_API_KEY:
    type: string
    default: ""
  TESTOPS_SERVER_URL:
    type: string
    default: ""
  TESTOPS_PROJECT_ID:
    type: string
    default: ""
  TESTOPS_SESSION_ID:
    type: string
    default: ""

jobs:
  katalon-circleci:
    docker:
      - image: katalonstudio/katalon:<< pipeline.parameters.kre-image-tag >>
      - image: circleci/cci-demo-docker-primary:0.0.2
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    #working_directory: /go/src/github.com/circleci/cci-demo-docker
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
      - run: docker --version
      - run: docker pull katalonstudio/katalon
      - run: docker images
      - checkout
      - run: git clone git@github.com:Rattanbansal/newActivityOverview.git
      - run: pwd
      - run: ls -a
      - run: ls -l
      - run:
          name: Testing Folder Structure
          command: |
            ls -l
            cd newActivityOverview
            ls -l
            pwd
            docker run -t --rm -v ${pwd}:/katalon/katalon/source katalonstudio/katalon katalon-execute.sh -browserType="Chrome" -retry=0 -statusDelay=15 -testSuitePath="Test Suites/ActivityOverview-FiltersAndColumns" -apiKey="22937998-3f24-4da4-aedb-4d9bae4a896d" -executionProfile="Development" #bash run_chrome.sh
      - run: cd newActivityOverview
      - run: ls -l
      - run: cd newActivityOverview
      - run: ls -l
      #- run: docker run -t --rm -v ${pwd}:/katalon/katalon/source katalonstudio/katalon katalon-execute.sh -browserType="Chrome" -retry=0 -statusDelay=15 -testSuitePath="Test Suites/ActivityOverview-FiltersAndColumns" -apiKey="22937998-3f24-4da4-aedb-4d9bae4a896d" -executionProfile="Development" #bash run_chrome.sh

workflows:
  version: 2.1
  build_and_test:
    jobs:
      - katalon-circleci