version: 2.1

parameters:
  kre-image-tag:
    type: string
    default: "latest"
  agent-download-link:
    type: string
    default: ""
  job-info:
    type: string
    default: ""
  agent-config:
    type: string
    default: ""
  server-url:
    type: string
    default: ""
  TESTOPS_API_KEY:
    type: string
    default: ""
  TESTOPS_SERVER_URL:
    type: string
    default: ""
  TESTOPS_PROJECT_ID:
    type: string
    default: ""
  TESTOPS_SESSION_ID:
    type: string
    default: ""

jobs:
  katalon-test:
    docker:
      - image: katalonstudio/katalon:<< pipeline.parameters.kre-image-tag >>
    environment:
      AGENT_DOWNLOAD_LINK: << pipeline.parameters.agent-download-link >>
      JOB_INFO: << pipeline.parameters.job-info >>
      SERVER_URL: << pipeline.parameters.server-url >>
    steps:
      - run:
          name: Run Katalon Test
          command: |
            set -o nounset
            curl -v -m 10 $SERVER_URL/info
            mkdir /agent
            cd /agent
            wget -O agent "${AGENT_DOWNLOAD_LINK}"
            set +x
            echo "<< pipeline.parameters.agent-config >>" >> agentconfig
workflows:
  version: 2.1
  build_and_test:
    jobs:
      - katalon-test